*__pycache__
DiffVC/data
DiffVC/logs_dec_VCTK1
DiffVC/logs_dec_VCTK2
DiffVC/testpng
DiffVC/testpng_vc1
DiffVC/checkpts/vocoder
DiffVC/logs_dec_VCTK_gausian
DiffVC/logs_enc
DiffVC/testpng_vc1_2
DiffVC/testpng_vc1_3
DiffVC/testpng_vc2
DiffVC/logs_dec_pink_noise1
DiffVC/logs